body{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
body *{
    display: flex;
}
h2{
    align-self: center;
}

body>div{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(0,154,95);
    width: 450px;
    height: auto;
    border-radius: 25px;
}
header{
    background-color: rgba(0,0,0,0.1);
    height: 70px;
    border-radius: 25px 25px 0 0;
    flex-direction: column;
}
header>div:first-child{
    width: 100%;
    height: 94%;
    border-radius: 25px 25px 0 0;
}
header>div:first-child>div{
    width: 50%;
    font-size: 25px;
    font-weight: 900;
    justify-content: center;
    padding-top: 16px;
    border-radius: 25px 0 0 0;
    transition: .5s;
    cursor: pointer;
}
header>div:first-child>div:nth-child(2){
    border-radius: 0 25px 0 0;
}
header>div:first-child>div:hover{
    color: rgb(50,50,50);
}

#slider{
    transition: .3s;
    height: 7%;
    width: 50%;
    background-color: white;
    margin-left: 0;
}
main{
    flex-grow: 1;
    flex-direction: column;
    padding-top: 25px;
}
form{
    /*flex-grow: 1;*/

    width: 80%;
    margin: auto;
    justify-self: center;
    flex-direction: column;
}

#sign_in{
    margin-top: 30px;
    margin-bottom: 30px;
}

#sign_up{
    display: none;;
}
input{
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    height: 35px;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 25px;
}
#sign_up input{
    margin-bottom: 15px;
}
#fio>input:first-child{
    border-radius: 5px 0 0 5px;
}
#fio>input:nth-child(2){
    border-radius: 0 5px 5px 0;
}

input::placeholder{
    color: rgb(180,180,180);
}
input[type=submit]{
    cursor: pointer;
    height: 45px;
    font-weight: 600;
    justify-content: center;

}