body{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
body * {
    display: flex;
    box-sizing: border-box;
    font-family: "Yu Gothic UI Semibold",serif;
}
header{
    flex-direction: column;
}
#upper{
    height: 50px;
    padding: 12px;
    border-bottom: 1px black solid;
    justify-content: flex-end;
    align-items: center;
}
#upper>*{
    margin-right: 20px;
    font-size: 19px;
}
header>h1{
    justify-content: center;
    height: 60px;
    color: green;
    align-items: center;
}
#headline{
    width: 100%;
    height: 50px;
    background-color: green;
}

.inp_div input{
    width: 120px;
}
.form_sub{
    background-color: green;
    width: 100px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#close_sessions{
    text-decoration: none;
    background-color: green;
    width: 230px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#acc_form2{
    margin: 10px;
    height: 30px;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 5px;
    border-bottom: 1px lightgray solid;
}
#acc_form2 input{
    margin: 0 10px;
    border-radius: 3px;
    border: 1px gray solid;
    padding-left: 10px;
}
#acc_form2 p{
    margin: 2px;
}

#dates{
    height: 30px;
    margin-top: 20px;
    align-items: flex-end;
}
#dates h2{
    margin: 0 20px;
    color: green;
}
#dates input{
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px gray solid;
    margin: 0 20px;
}
#dates_sub{
    background-color: green;
    height: 100%;
    width: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

main{
flex-direction: column;

}
.lk_part{
    width: 48%;
    margin: 30px 1%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    height: 300px;
    flex-direction: column;
}
.lk_part>h2{
justify-content: center;
color: green;
margin-bottom: 5px;
}
#money_info{

}
.mi_item{
    margin: 60px auto;
    font-size: 29px;
    flex-direction: column;
}
.mi_item>*{
    justify-content: center;
}
.mi_item p{
    margin: 0;
}
#profit{
    color: green;
}
#income{
    color: rgb(130,190,0);
}
#outcome{
    color: rgb(150,0,0);
}
#prod_rate_list{
    flex-direction: column;
    font-size: 12px;
    margin: 0 10px;
    color: rgb(80,80,80);
}
#prod_rate_list h2{
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

#seller_manage_list{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    width: 98%;
    margin: 0 1%;
    flex-direction: column;
}
#sm_new{
    height: 40px;
    align-items: flex-end;
    width: 100%;
    background-color: lightgray;
    padding: 0 0 5px 10px;
}
#sm_new span{
    font-size: 26px;
    flex-grow: 1;
    color: rgb(70,70,70);
}
#sm_new input{
    outline: none;
    background-color: rgb(180,180,180);
    padding-left: 5px;
    border: none;
    height: 25px;
    border-radius: 5px;
    margin: 0 20px;
}
#sm_new_sub{
    background-color: green;
    color: white;
    height: 25px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}
.sm_item{
    margin: 0 60px 0 30px;
    border-bottom: 1px lightgray solid;
    justify-content: space-between;
}
.sm_item h3{
    margin: 10px;
}
.sm_item_del{
    align-items: center;
    cursor: pointer;
}


