body{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
body * {
    display: flex;
    box-sizing: border-box;
    font-family: "Yu Gothic UI Semibold",serif;
}
header{
    flex-direction: column;
}
#upper{
    height: 50px;
    padding: 12px;
    border-bottom: 1px black solid;
    justify-content: flex-end;
    align-items: center;
}
#upper>*{
    margin-right: 20px;
    font-size: 19px;
}
header>h1{
    justify-content: center;
    height: 60px;
    color: green;
    align-items: center;
}
#headline{
    width: 100%;
    height: 50px;
    background-color: green;
}

.lk_part{
    width: 48%;
    margin: 30px 1%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    height: 500px;
    flex-direction: column;
}
.lk_part>h2{
    justify-content: center;
    color: green;
    margin-bottom: 20px;
}
#acc_form1{
    justify-content: space-between;
    margin: 0 10px;
    align-items: flex-end;
}
.inp_div{
    flex-direction: column;
}
.inp_div p{
    margin: 0;
    font-size: 17px;
    color: gray;
}
.inp_div input{
    width: 120px;
}
.form_sub{
    background-color: green;
    width: 100px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#close_sessions{
    text-decoration: none;
    background-color: green;
    width: 230px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#acc_form2{
    flex-direction: column;
    margin: 60px auto 0;
    height: 140px;
    justify-content: space-between;
    width: 50%;
}
#acc_form2 p{
    margin: 0;
}

#order_search{
    outline: none;
    height: 30px;
    width: 70%;
    flex-shrink: 0;
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: lightgrey;
    padding-left: 10px;
}
#order_story{
    flex-grow: 1;
    width: 94%;
    margin: 0 auto;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.os_item{
    width: 100%;
    border-bottom: 1px gray solid;
    flex-direction: column;
    margin-bottom: 20px;
}
.os_item span{
    margin-left: 10px;
}
.os_head{
    align-items: center;
    justify-content: space-between;
}
.os_head h3{
    margin: 0;
}
.confirm_order{
    text-decoration: underline;
    cursor: pointer;
}
.os_list{
    flex-direction: column;
    font-size: 14px;
    color: gray;
    margin-left: 20px;
}
.os_foo{
    justify-content: space-between;
}
.close_order{
    text-decoration: underline;
    cursor: pointer;
}
#empty_os{
    font-size: 23px;
    color: gray;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#seller_prod_list{
    width: 1200px;
    flex-direction: column;
    padding: 0 100px 0 50px;
    margin-bottom: 200px;
}

.new_item{
    align-items: center;
    background-color: lightgray;
    color: gray;
    height: 40px;
    font-size: 24px;
    padding-left: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}
.new_item input{
    background-color: rgb(190,190,190);
    border-radius: 10px;
    margin: 6px 20px;
    font-size: 23px;
    padding-left: 10px;
    border: none;
    outline: none;
}
.new_cat_sub{
    background-color: green;
    color: white;
    width: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 450px;
}

.category_item{
    width: 100%;
    flex-direction: column;
    margin: 20px 0 20px 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.category_item>h3{
    padding-left: 10px;
    background-color: lightgray;
    height: 40px;
    align-items: center;
    font-size: 30px;
    margin: 0;
}
.production_item{
    flex-direction: column;
    margin: 10px 0 10px 20px;
    padding: 0 0 5px 10px;
    align-items: flex-start;
    border-bottom: 1px lightgray solid;
}
.production_item_new{
    font-size: 23px;
    margin: 10px 0 10px 20px;
    padding: 0 0 5px 10px;
    border-bottom: 1px lightgray solid;
    color: gray;
    align-items: flex-end;
    flex-direction: column;
}
.production_item_new>div{
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}
.production_item_new input{
    background-color: lightgray;
    flex-grow: 1;
    border-radius: 10px;
    margin: 0 20px;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
}
.production_item_new input:not(.ni_name) {
    margin: 0;
    width: 130px;
    flex-grow: 0;
}
.production_item_new  input[type=file]{
    width: 500px;
}
.new_prod_sub{
    background-color: green;
    margin-right: 20px;
    color: white;
    width: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

.production_item *{
    align-items: flex-end;
}
.pi_info{
    width: 100%;
    justify-content: space-around;
}
.pi_info>*{
    margin-right: 20px;
}
.pi_title{
    font-size: 23px;
}
.pi_sum{
    color: gray;
    flex-grow: 1;

}
.pi_sum span{
    color: black;
}

.pi_ad_sub{
    width: 20px;
    border-radius: 0 5px 5px 0;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pi_admission input,.pi_cost input,.pi_price input{
    transition: .3s;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px gray solid;
    outline: none;
    padding-left: 5px;
}
.pi_admission input{
    border-radius: 5px 0 0 5px;
}

