body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
body *{
    display: flex;
    box-sizing: border-box;
    font-family: "Yu Gothic UI Semibold",serif;
}
body>div{
    width: 1200px;
    height: auto;

    flex-direction: column;
}

#guest_data{
    z-index: 2;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}
#gd_main{
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    height: 550px;
    width: 500px;
    background-color: white;
    border-radius: 30px;
}
#gd_fields{
    flex-grow: 1;
}
#gd_titles{
    flex-direction: column;
    font-size: 19px;
    width: 99px;
    justify-content: space-around;
}
#gd_titles>div:last-child{
    margin-bottom: 60px;
}
#gd_inputs{
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}
#gd_inp_address_house,#gd_inp_address_apart{
    width: 60px;
}
#gd_main h2 {
    justify-content: center;
}
#gd_main input{
    outline: none;
    font-size: 19px;
    background-color: rgb(230,230,240);
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 5px;
}
#gd_submit{
    width: 100%;
    background-color: green;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#upper{
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    padding: 12px;
    font-size: 20px;
    border-bottom: 1px black solid;

}
#logo{
    font-size: 60px;
    font-family: "Yu Gothic UI Semibold",serif;
    font-weight: 900;
    color: green;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;
}
#logo>span{
    margin-left: 30px;
    font-size: 20px;
    height: 34px;
}
header{
    width: 100%;
    height: 50px;
    background-color: green;
    justify-content: space-between;
    align-items: center;
}
header > *{
    color: white;
}
#search_div{
    flex-direction: column;
}
header input{
    border: none;
    margin-left: 300px;
    padding-left: 7px;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    outline: none;
}
#cart_button{
    text-decoration: underline;
    cursor: pointer;
    margin-right: 20px;
    font-size: 23px;
    height: 25px;
    transition: .4s;
}
main{
    flex-direction: row;
}
#menu{
    flex-direction: column;
    margin: 50px 20px 0 0;
    width: 250px;
    flex-shrink: 0;
}
.menu_item{
    padding-left: 10px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px black solid;
    transition: 1s;
}
.menu_item:hover{
    background-color: rgba(0,0,0,0.1);
}
#main{
    flex-grow: 1;
    flex-direction: column;
}
#main_img{
    margin: 40px 5%;
    height: 300px;
    width: 90%;
    background: url("img/kitayskiy-chai.jpg");
    background-size: cover;

    color: white;
    font-size: 45px;
    font-family: "Yu Gothic UI Semibold",serif;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
#products{
    width: 100%;
    flex-direction: column;
}
#products>#settings{
    width: 100%;
    border-bottom: 1px black solid;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
#prod_list{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
#empty_prod_list{
    color: gray;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}
.prod_item{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    flex-direction: column;
    margin: 10px 2%;
    width: 29%;
    height: 300px;
}
.prod_item img{
    height: 180px;
    width: 200px;
    margin: auto;
}
.item_title{
    justify-content: center;
}
.item_title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.prod_item>select{
    margin: 0 10px;
}
.item_price{
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    color: green;
}
.item_buy{
    width: 70px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: green;
    color: white;
    margin: auto;
    cursor: pointer;
}
#cart{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 400px;
    border: 1px black solid;
    background-color: white;
    border-radius: 10px;
}
#cart_head{
    margin: 10px 20px 0 20px;
    border-bottom: 1px black solid;
    font-size: 23px;
    justify-content: space-between;
}
#close_cart{
    cursor: pointer;
}
#cart_list{
    min-height: 200px;
    margin: 0 20px;
    flex-direction: column;
}
.cart_list_item{
    width: 100%;
    border-bottom: 1px rgb(220,220,220) solid;
    /*height: 60px;*/
    align-items: center;
    justify-content: space-between;
}
.ci_img{
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.ci_img img{
    height: 100%;
    width: 100%;
}
.ci_data{
    flex-grow: 1;
    font-size: 13px;
    flex-direction: column;
    margin: 0 10px;
}
.ci_data>span{

}
.ci_data>span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.ci_data>div{
    flex-direction: row;
}
.ci_data>div>span{
    margin-right: 20px;
    font-size: 15px;
}
.ci_remove{
    cursor: pointer;
}
#cart_buy{
    cursor: pointer;
    background-color: green;
    width: 350px;
    border-radius: 15px;
    height: 40px;
    font-size: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 15px;

    align-self: center;
}
.prod_one_item{
    flex-direction: column;
}
.poi_title{
    font-size: 25px;
    font-weight: 900;
}
.poi_main{
    justify-content: flex-start;
}
.poi_main2{
    flex-direction: column;
    margin-top: 40px;
}

#footer{
    height: 200px;
    background-color: rgb(100,200,100);
    padding: 30px 200px;
}
#f_list{
    flex-direction: column;
}
#f_list>*{
    margin-bottom: 30px;
}