<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link href="index.css" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <div>
            <div id="log_button">Войти</div>
            <div id="reg_button">Регистрация</div>
        </div>
        <div id="slider"></div>
    </header>
    <main>
        <form id="sign_in" method="post" action="../back/api.php">
            <input type="hidden"    name="method" value="sign_in">
            <input type="hidden"    name="loc_group" value="user">
            <input type="text"      id="in_login"
                   autocomplete="new-password" name="login" placeholder="Логин">
            <input type="password"  id="in_pass"
                   autocomplete="new-password" name="pass" placeholder="Пароль">
            <input type="submit"    id="in_sub" value="Войти" disabled>
        </form>
        <form id="sign_up" method="post" action="../back/api.php">
            <div>Поля, отмеченные * являются обязательными</div>
            <div id="fio">
                <input id="up_name" name="name" placeholder="Имя">
                <input id="up_surname" name="surname" placeholder="Фамилия">
            </div>
            <input type="hidden"    name="method" value="sign_up">
            <input type="text" id="up_login"  name="login"  placeholder="Логин*">
            <input type="text" id="up_phone"  name="phone"  placeholder="Телефон">
            <input type="text" id="up_email"  name="email"  placeholder="Email">
            <div>Дата рождения:</div>
            <input type="date" id="up_b_date" name="b_date" placeholder="Дата рождения">
            <div id="addresses">
                <input type="text" id="up_address_city" name="address_city" placeholder="Город">
                <div>
                    <input type="text" id="up_address_street" name="address_street" placeholder="Улица">
                    <input type="text" id="up_address_house"  name="address_house" placeholder="Дом">
                    <input type="text" id="up_address_apart"  name="address_apart" placeholder="Кв.">
                </div>
            </div>
            <input type="password"   id="up_pass"    name="pass"  placeholder="Пароль*">
            <input type="password"   id="up_pass2"   name="pass2" placeholder="Подтвердите пароль*">
            <input type="submit"    id="up_sub" disabled value="Зарегистрироваться">
        </form>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../libs/jquery-3.4.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/css/suggestions.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/js/jquery.suggestions.min.js"></script>
<script src="../login/index.js"></script>
</body>
</html>