body{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
body * {
    display: flex;
    box-sizing: border-box;
    font-family: "Yu Gothic UI Semibold",serif;
}
header{
    flex-direction: column;
}
#upper{
    height: 50px;
    padding: 12px;
    border-bottom: 1px black solid;
    justify-content: flex-end;
    align-items: center;
}
#upper>*{
    margin-right: 20px;
    font-size: 19px;
}
header>h1{
    justify-content: center;
    height: 60px;
    color: green;
    align-items: center;
}
#headline{
    width: 100%;
    height: 50px;
    background-color: green;
}

.lk_part{
    width: 48%;
    margin: 30px 1%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    height: 500px;
    flex-direction: column;
}
.lk_part>h2{
    justify-content: center;
    color: green;
    margin-bottom: 50px;
}
#acc_form1{
    justify-content: space-between;
    margin: 0 10px;
    align-items: flex-end;
}
.inp_div{
    flex-direction: column;
}
.inp_div p{
    margin: 0;
    font-size: 17px;
    color: gray;
}
.inp_div input{
    width: 120px;
}
.form_sub{
    background-color: green;
    width: 100px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#close_sessions{
    text-decoration: none;
    background-color: green;
    width: 230px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#acc_form2{
    flex-direction: column;
    margin: 60px auto 0;
    height: 140px;
    justify-content: space-between;
    width: 50%;
}
#acc_form2 p{
    margin: 0;
}

#order_story{
    width: 94%;
    margin: 0 auto;
    flex-direction: column;
    overflow-y: auto;
}
.os_item{
    width: 100%;
    border-bottom: 1px gray solid;
    flex-direction: column;
    margin-bottom: 20px;
}
.os_item span{
    margin-left: 10px;
}
.os_head{
    align-items: center;
    justify-content: space-between;
}
.os_head h3{
    margin: 0;
}
.os_list{
    flex-direction: column;
    font-size: 14px;
    color: gray;
    margin-left: 20px;
}
.os_foo{
    justify-content: space-between;
}
.close_order{
    text-decoration: underline;
    cursor: pointer;
}
#empty_os{
    font-size: 23px;
    color: gray;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}
